# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pytest
.pytest_cache/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pyenv
.python-version

# pyright
typings/

# local env variables or settings
.env
.env.*

# build artifacts
build/
dist/
*.egg-info/
.eggs/

# logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
